<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AttendanceApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AttendanceApplication.styles.css" asp-append-version="true" />
    <!--Boostrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> 
</head>
<body>
    <div class="p-3">
        <!-- Header -->
        <div class="header d-flex justify-content-between align-items-center p-2 bg-white ">
            <div class="">
                <a class="navbar-brand text-black" asp-area="" asp-controller="Home" asp-action="Index">AttendanceApplication</a>
            </div>
            <div class="d-flex">
                <div class="align-self-center" style="padding-right: 10px;">
                    <img src="~/images/default-avatar.png" alt="Image not found" class="rounded-circle" width="40" height="40">
                </div>
                <div class="align-self-center ml-3">
                    <strong>@(Context.Request.Cookies["username"])</strong>
                    <p class="=mt-0 mb-0">@(Context.Request.Cookies["role"])</p>
                </div>
                <div class="px-2">
                    <button class="border-0 bg-white" data-toggle="ajax-modal-user-detail" data-target="#userDetail" data-url="@Url.Action("Detail")"><i class="bi bi-chevron-down"></i></button>
                </div>
            </div>
        </div>

        <div class="container-fluid p-3">
            <div class="body row">
                <!-- Side Bar -->
                <div class="side-bar col-sm-3 col-lg-2">
                    <nav class="navbar navbar-expand-sm navbar-light bg-white border-right flex-column justify-content-start">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-house"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-calendar"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Attendance" asp-action="Index">Attendance</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-envelope-paper"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Leave Apply</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-heart-pulse"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Health Care</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-box-arrow-left"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!-- Page Content -->
                <div class="main-content container col-sm-9 col-lg-10 bg-white p-4">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div id="UserDetailPlaceHolder"></div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - fullstack_project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
