@*@model AttendanceApplication.Models.AttendanceStatus;*@

<div class="modal fade" id="checkOutResult">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@ViewBag.Status</h4>
                <button type="button" class="close border-0 bg-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Message</p>
                @*@if (Model != null)
                {
                    <p><strong>Username: </strong>@Model.Username</p>
                    <p><strong>Start time: </strong>@Model.StartTime</p>
                    <p><strong>Date: </strong>@Model.AttendanceDate</p>
                    <p><strong>Work position: </strong>@Model.Position</p>
                    <p><strong>Status: </strong>Working</p>
                }
                else
                {
                    <p class="text-danger">@ViewBag.Message</p>
                }*@
            </div>
            <div>
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

